.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    }
.social-icon i {
    font-size: 24px;
    color: black;
    }    

.social-icon:hover i {
    color: blue;
}
.custom-gap {
    margin-right: 5px; 
}