.header-area {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1000; 
    padding: 15px 0; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
.search-bar {
    width: 300px; 
}
.custom-gap {
    margin-right: 5px; 
}
@media (min-width: 1200px) {
    .container {
        max-width: 90%; 
        padding-left: 20px;
        padding-right: 20px;
    }
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    }
.social-icon i {
    font-size: 24px;
    color: black;
    }    
.social-icon:hover i {
    color: blue;
}

/* card styling for each of the courses */


.main-content {
    padding-top: 150px;
    font-family: "Roboto", sans-serif; 
    margin: 0 auto;
    max-width: 1200px;
}


.section-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1.5rem;
    text-align: center;
}

.text-container {
    text-align: center;
    padding: 10px 0; 
    flex-grow: 1; 
}

.category-card:hover {
    transform: scale(1.05);
    background-color: #000;
}

.category-image {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.category-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}
.category-link {
    text-decoration: none;
    color: inherit; 
}

.category-link {
    text-decoration: none;
    color: inherit; 
}

.category-link:hover .category-card {
    background-color: #292929;
    transform: scale(1.05);
}


/* star icon for favourites*/


.favorite-star {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.favorite-star.favorited {
    color: #ffd700;
}

.favorite-star:hover {
    color: #ffdd57;
}

.category-card {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #000;
    border-radius: 8px;
    color: #ffffff;
    height: 100%;
}

.category-card:hover {
    transform: scale(1.05);
}

.sidebar-list li a {
    display: inline-block;
    transition: transform 0.3s ease;
}
.sidebar-list li a:hover {
    transform: scale(1.05);
}

.featured-course-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.featured-course-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.favorite-star i {
    cursor: pointer;
    transition: color 0.3s ease;
}

.favorite-star i.favorited {
    color: #ffdd57; 
}
