.main-content{

    padding-top: 150;
}
.custom-gap {
    margin-right: 5px; 
}
.search-bar {
    width: 300px; 
}

.title{
    font-style: bold;
}

.form-group{
    padding-bottom: 10px;
}

.signup-button{
    position: center;
}