html body {
    background-color: #DAF5FE;
}
.custom-gap {
    margin-right: 5px; 
}
.search-bar {
    width: 300px; 
}
.main-content {
    font-family: "Roboto", sans-serif; 
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.h-custom {
height: calc(100% - 73px);
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}