.header-area {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; 
    z-index: 1000; 
    padding: 15px 0; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.custom-gap {
    margin-right: 5px; 
}
.search-bar {
    width: 300px; 
}

.main-content {
    padding-top: 150px;
    font-family: "Roboto", sans-serif;
}     
#title{
    font-weight: bold;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.h-custom {
height: calc(100% - 73px);
}

@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    }
   

.social-icon:hover i {
    color: blue;
}

input::placeholder {
    color: #888;
    font-style: italic;
}
input:focus {
    box-shadow: 0 0 5px #007BFF;
    border-color: #007BFF;
}
